<!DOCTYPE html>
<html>

<head>
    <title>Sprint report</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ visualization_url }}navbar.css">
</head>
<body>
    <nav class="navbar is-link" role="navigation"
    aria-label="main navigation" id="navbar">
    </nav>

    <div id="header">
        <div class="container">
            <h1 class="title" data-message="title">Sprint report</h1>
        </div>
    </div>

    <div class="container">
        <section class="section is-small">
            <div class="columns">
                <div class="column is-narrow">
                    <a class="icon" id="config-toggle">
                        <i class="fas fa-cogs"></i>
                    </a>
                </div>
                <div class="column" id="config">
                    <div class="columns">
                        <div class="column is-narrow">
                            <h2 data-message="projects-header">Projects</h2>
                        </div>
                        <div class="column">
                            <div id="navigation" class="tabs is-toggle">
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div id="project-filter">
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-narrow">
                            <h2 data-message="sprints-header">Sprints</h2>
                        </div>
                        <div class="column" id="sprints-count">
                            <input type="range" id="num-sprints" class="slider has-output" min="1" step="1">
                            <output for="num-sprints"></output>
                        </div>
                        <div class="column is-narrow" id="sprints-closed">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span data-message="sprints-closed-only"></span>
                            </label>
                        </div>
                        <div class="column is-narrow" id="sprints-old">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span data-message="sprints-show-old"></span>
                            </label>
                        </div>
                        <div class="column">
                            <div id="sprints-meta" class="tabs is-toggle is-check is-size-7">
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-narrow">
                            <h2 data-message="features-header">Features</h2>
                        </div>
                        <div class="column">
                            <div id="features" class="tabs is-toggle is-check is-size-7">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="error-message" class="notification is-danger is-hidden"></div>
        </section>
    </div>

    <div id="container">
        <div id="content">
            <div class="container">
                <article class="section">
                    <table class="table is-bordered is-striped">
                    </table>
                </article>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ visualization_url }}manifest.js"></script>
    <script type="text/javascript" src="{{ visualization_url }}vendor.js"></script>
</body>

</html>
