*.tgz
bundle.js*
manifest.js
vendor.js
/config*.json
node_modules
data/
output/
public/bundle
public/data*
public/fonts
public/index.html
public/manifest.json
public/assets-manifest.json
public/mix-manifest.json
public/hot
public/main.css
public/*.js
public/*.js.map
