@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-slider/dist/css/bulma-slider";
@import "node_modules/bulma-tooltip/dist/css/bulma-tooltip";

@media print {
	#navbar, #options {
		display: none
	}
	.table {
		.project .display-name, .sprint .tags, .feature .icon {
			display: none
		}
		tbody {
			page-break-inside: avoid
		}
	}
	.chart {
		transform: scale(.7) translate(-25%);
		.details {
			display: none
		}
	}
}

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
    white-space: nowrap;
    span.projects {
        text-indent: 100%;
        overflow: hidden;
        color: transparent;
    }
}

.tabs ul {
    flex-wrap: wrap;
}

#project-filter label {
	display: flex;
    padding-right: .5em;
}

#features {
    margin: .75rem 0 0 .5rem;
    .column {
        padding: .25rem;
    }
    .category {
        &:hover .icon {
            color: $link;
        }
        cursor: pointer;
        flex: none;
        width: 10%;
        white-space: nowrap;
        .name {
            margin-left: .25rem;
        }
    }
    .tabs {
        overflow: hidden;
    }
}

#config .checkbox {
    margin: .5rem 0;
}

#config .checkbox input {
    margin-right: .25rem;
}

.tabs.is-toggle li:only-child a {
    border-radius: 4px 4px 4px 4px;
}
.tabs .tag {
	background-color: #ffffff;
	color: #000000;
    font-size: .6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 1.5em;
    margin-left: 0.5em;
    margin-right: -0.5em;
}

.tabs .tag:hover {
	background-color: #f5f5f5;
	color: #4a4a4a;
	cursor: text;
}

.tabs {
	overflow: visible;
}

.tabs li.is-active a.drag, .tabs li.is-active a.drag:hover {
	z-index: 3;
	cursor: grab;
}

.tabs a.dragging {
	cursor: grabbing;
}

.section.is-small {
    padding: 1rem 1.5rem;
}

#sources {
	overflow-x: auto;
	width: 100%;
}

#sources td.age {
	white-space: nowrap;
}

article.section {
    padding: 2rem 1.5rem;
	overflow-x: auto;
	width: 100%;
}

#container, #sources {
    position: relative;
    .is-loaded {
        position: relative;
        z-index: 99;
    }
    .spinner.is-overlay {
        position: absolute;
        top: 1.5rem;
        opacity: 0.8;
        z-index: 0;
    }
}

.table .icon {
    margin-left: .25rem;
}

svg.chart {
    overflow: visible;
}

svg.chart .axis.y0 line {
    stroke-width: 0.5;
    stroke-opacity: 0.7;
}

svg.scatterplot {
    .axis.x2, .axis.y2 {
        line {
            stroke: lightgrey;
            stroke-opacity: 0.7;
        }
        path, g:first-of-type {
            stroke-width: 0;
        }
    }
}

g.clusters {
    circle {
        fill-opacity: 0.5;
    }
    text {
        fill: black;
        stroke: white;
        font-weight: bold;
        text-anchor: middle;
        filter: drop-shadow(0 0 2px #444444);
    }
}

.focus {
    circle {
        fill: #F1F3F3;
        stroke: rgb(0, 67, 125);
        stroke-width: 2px;
        fill-opacity: .5;
    }

    line {
        stroke: #555;
        stroke-width: 1px;
    }

    &.fixed .details tspan.has-source {
        fill: $info;
    }
    .details {
        path.icon {
            fill: $info;
        }
        tspan {
            fill: #F1F3F3;
            font-size: .8em;
            &.highlight {
                font-weight: bold;
            }
        }

        rect {
            border-radius: 20px;
        }
    }
}

.tooltip {
	&::before, &::after {
		transition: opacity .5s ease;
		opacity: 0;
      	content: '';
		position: absolute;
        font-weight: normal;
	}
}
