@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-slider/dist/bulma-slider";

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

.tabs ul {
    flex-wrap: wrap;
}

#project-filter label {
    padding-right: .5em;
}

#config .checkbox {
    margin: .5rem 0;
}

#config .checkbox input {
    margin-right: .25rem;
}

.tabs.is-check {
	margin: .25rem 0;
}

.tabs.is-check a span {
	padding-left: .5rem;
}

.section.is-small {
    padding: 1.5rem;
}

article.section {
    padding: 1.5rem 1.5rem;
	overflow-x: auto;
	width: 100%;
}

.table .icon {
    padding-left: .5rem;
}

.focus circle {
    fill: #F1F3F3;
    stroke: rgb(0, 67, 125);
    stroke-width: 2px;
    fill-opacity: .5;
}

.focus line {
    stroke: #555;
    stroke-width: 1px;
}

.focus .tooltip tspan {
    fill: #F1F3F3;
    font-size: .8em;
}

.focus .tooltip rect {
    border-radius: 20px;
}
